<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>DEMO APP!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/chunk-vendors.cddce523.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.a19e4ce7.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div id="app"></div>
    </div>
</div>

<script src="/js/chunk-vendors.4d011374.js"></script>
<script src="/js/app.90c1c253.js"></script>
</body>
</html>